/Maven__antlr_antlr_2_7_7.xml
/Maven__ch_qos_logback_logback_classic_1_1_7.xml
/Maven__ch_qos_logback_logback_core_1_1_7.xml
/Maven__com_fasterxml_classmate_1_3_1.xml
/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_3.xml
/Maven__com_fasterxml_jackson_core_jackson_core_2_8_3.xml
/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_3.xml
/Maven__dom4j_dom4j_1_6_1.xml
/Maven__javax_servlet_jstl_1_2.xml
/Maven__javax_transaction_javax_transaction_api_1_2.xml
/Maven__javax_validation_validation_api_1_1_0_Final.xml
/Maven__mysql_mysql_connector_java_5_1_39.xml
/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_5.xml
/Maven__org_apache_tomcat_embed_tomcat_embed_el_8_5_5.xml
/Maven__org_apache_tomcat_embed_tomcat_embed_jasper_8_5_5.xml
/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_5.xml
/Maven__org_apache_tomcat_tomcat_jdbc_8_5_5.xml
/Maven__org_apache_tomcat_tomcat_juli_8_5_5.xml
/Maven__org_aspectj_aspectjweaver_1_8_9.xml
/Maven__org_eclipse_jdt_core_compiler_ecj_4_5_1.xml
/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
/Maven__org_hibernate_hibernate_core_5_0_11_Final.xml
/Maven__org_hibernate_hibernate_entitymanager_5_0_11_Final.xml
/Maven__org_hibernate_hibernate_validator_5_2_4_Final.xml
/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/Maven__org_javassist_javassist_3_20_0_GA.xml
/Maven__org_jboss_jandex_2_0_0_Final.xml
/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
/Maven__org_slf4j_jcl_over_slf4j_1_7_21.xml
/Maven__org_slf4j_jul_to_slf4j_1_7_21.xml
/Maven__org_slf4j_log4j_over_slf4j_1_7_21.xml
/Maven__org_slf4j_slf4j_api_1_7_21.xml
/Maven__org_springframework_boot_spring_boot_1_4_1_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_autoconfigure_1_4_1_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_1_4_1_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_aop_1_4_1_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_data_jpa_1_4_1_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_jdbc_1_4_1_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_logging_1_4_1_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_tomcat_1_4_1_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_web_1_4_1_RELEASE.xml
/Maven__org_springframework_data_spring_data_commons_1_12_3_RELEASE.xml
/Maven__org_springframework_data_spring_data_jpa_1_10_3_RELEASE.xml
/Maven__org_springframework_spring_aop_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_aspects_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_beans_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_context_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_core_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_expression_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_jdbc_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_orm_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_tx_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_web_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_webmvc_4_3_3_RELEASE.xml
/Maven__org_yaml_snakeyaml_1_17.xml
/Maven__xml_apis_xml_apis_1_4_01.xml
